<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="Test">
		<classes>
			<class name="moolya.slicepay.tests.mobile.android.profile.Apply_For_Silver_Access" />
			<class name="moolya.slicepay.tests.mobile.android.orders.Check_Orders_Page_When_User_Has_Not_Placed_Any_Orders" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
